<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Moneymate</title>
  </head>
  <body>
    <header>
        <nav>
          <ul>
            <li>
              <button><a href="/">Dashboard</a></button>
            </li>
            <li>
              <button><a href="/">Merchants</a></button>
            </li>
            <li>
              <button><a href="/">Categories</a></button>
            </li>
          </ul>
        </nav>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
