{% extends "base.html" %}

{% block content %}
<span><p>Hello, Mark <span id="hand-shake">&#128075;</span></p></span>

<div class="add-transaction-container">
    <p class="heading">Add Transaction</p>
    <div class="add-transaction-form-container">
        <form action="/transactions" method="POST">

            <label for="merchant">Merchant</label>
            <input class="form-inputs" type="text" id="merchant" name="merchant" placeholder="Merchant Name">

            <label for="amount">Amount</label>
            <input class="form-inputs" type="number" step="0.1" id="amount" name="amount" placeholder="Amount" required>

            <input class="form-inputs" type="date" id="date" name="date">

            <input class="form-inputs" list="tag-list" id="tag" name="tag" placeholder="Select a category" required>
            <datalist id="tag-list">
                <option value="General 🧰">
                <option value="Pub 🍻">
                <option value="Groceries 🥖">
                <option value="Eating Out 🍕">
                <option value="Education 📚">
                <option value="Transportation 🚆">
                <option value="Autocare 🚗">
                <option value="Takeaway 🥡">
                <option value="Entertainment 🍿">
                <option value="Shopping 🛍️">
                <option value="Personal Care 💈">
                <option value="Holiday 😎">
            </datalist>

            <input class="filter-button" type="submit" value="Add Transaction">

        </form>
    </div> 
</div>
<section class="filter-container">
    <p class="heading">Filter Transactions</p>
    <section class="filter-buttons-flex">
    <section class="filter-form"></section>
<input type="button" class="filter-button-all" value="All" onclick="window.location.href='/transactions'" />

<form action="/transactions/filter" method="POST">

    <div class="filter-buttons">   
        <button class="filter-button" type="submit" name="filter" value="01">Jan</button>
        <button class="filter-button" type="submit" name="filter" value="02">Feb</button>
        <button class="filter-button" type="submit" name="filter" value="03">Mar</button>
        <button class="filter-button" type="submit" name="filter" value="04">Apr</button>
        <button class="filter-button" type="submit" name="filter" value="05">May</button>
        <button class="filter-button" type="submit" name="filter" value="06">Jun</button>
        <button class="filter-button" type="submit" name="filter" value="07">Jul</button>
        <button class="filter-button" type="submit" name="filter" value="08">Aug</button>
        <button class="filter-button" type="submit" name="filter" value="09">Sep</button>
        <button class="filter-button" type="submit" name="filter" value="10">Oct</button>
        <button class="filter-button" type="submit" name="filter" value="11">Nov</button>
        <button class="filter-button" type="submit" name="filter" value="12">Dec</button>
    </div>

    </section>
</section>

</form>

{% if selected_month %}
    <p class="heading">{{ selected_month }}</p>
{% else %}
    <p class="heading">All Transactions</p>
{% endif %}

<div class="transactions-container">
    
    <hr>
    {% for transaction in transactions %}
    <div class="transactions-flex">
        <div class="left-content">
            <div class="transaction-details">
          <p>{{ transaction.merchant.name }}</p>
          <div class="date-tag">
            <p>{{ transaction.date }} | {{ transaction.tag }}</p>
          </div>
        </div>
        </div>
        <a href="/transactions/{{transaction.id}}">
          <button class="filter-button more-info-button">More Info</button>
        </a>
        <div class="total">
        <p class="total-amount">£{{ transaction.amount }}</p>
        </div>
      </div>
 
<hr>
    {% endfor %}

</div>
<div class="total-float-right">
    <p><b>Total -</b> £{{ total }}</p>
</div>

{% endblock %}